* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

nav {
  padding: 10px 25px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 70px ;
}

nav > img {
  max-width: 100px;
}
section {
  padding: 20px 50px;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero-img {
  align-self: center; 
  margin-bottom: 30px;
  max-width: 500px;
}
.text > p {
  color: grey;
}
.card {
  max-width: fit-content;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.card-hero {
  padding: 10px;
  position: relative;
  /* width: 300px; */
}
.availability {
  padding: 5px;
  border: 1px solid green;
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: white;
  border-radius: 5px;
}
.grey-text {
  color: grey;
}
